@using prjMVCDemo.Models
@model List<CCustomer>
@{
    ViewBag.Title = "List";
}
<style>
</style>
<h2>客戶資料一覽表</h2>
<div>
    <form method="post">
        <div class="d-flex align-items-center">
            <label>關鍵字</label>
            <input class="form-control" type="text" name="txtKeyword" />
            <input class="btn btn-dark" type="submit" value="查詢" />
        </div>
    </form>
</div>
<a class="btn btn-dark" href="~/Customer/Create">新增客戶</a>
<table class="table table-bordered">
    <tr>
        <td>編號</td>
        <td>姓名</td>
        <td>電話</td>
        <td>電子郵件</td>
        <td>地址</td>
        <td>密碼</td>
        <td>編輯</td>
        <td>刪除</td>
    </tr>
    @{
        int count = 0;
        foreach (var item in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@item.fName</td>
                <td>@item.fPhone</td>
                <td>@item.fEmail</td>
                <td>@item.fAddress</td>
                <td>@item.fPassword</td>
                <td>
                    @Html.ActionLink("修改", "Edit", "Customer", new { id = item.fId },
                new { @class = "btn btn-dark" })
                </td>

                <td>
                    @Html.ActionLink("刪除", "Delete", "Customer", new { id = item.fId },
                new { onclick = "return confirm('確定要刪除嗎?')", @class = "btn btn-danger" })
                </td>
            </tr>
        }
    }
</table>

