@model IEnumerable<prjMVCDemo.tProduct>

@{
    ViewBag.Title = "List";
}

<h2>課程一覽</h2>
@using (Html.BeginForm())
{
    @:<span>搜尋關鍵字</span>
    @Html.TextBox("txtKeyword");
    <input type="submit" value="搜尋" />
}
<p>

    @Html.ActionLink("上架課程", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <p>序號</p>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fQty)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fPrice)
        </th>
        <th></th>
    </tr>

    @{
        int count = 0;
        foreach (var item in Model)
        {
            count++;
            <tr>
                <td>
                    @count
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fQty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fPrice)
                </td>
                <td>
                    @Html.ActionLink("修改", "Edit", "Product", new { id = item.fId }, null) |
                    @Html.ActionLink("刪除", "Delete", "Product", new { id = item.fId },
                   new { onclick = "return confirm('確定刪除?')" })
                </td>
            </tr>
        }
    }

</table>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>